.moreBtn {
  color: white;
  background: rgb(185, 2, 17);
  box-shadow: 0px 2px 13px -6px rgba(0, 0, 0, 0.75);
}

.moreBtn:hover {
  color: rgb(233, 233, 233);
}

.rating {
  color: rgb(151, 1, 14);
}
