body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.button_reservation {
  transition: all 0.25s ease;
  font-size: 25px;
}

.button_reservation:hover {
  font-size: 27px;
}

.button_reservation_partiel_dispo {
  transition: all 0.25s ease;
  font-size: 20px;
}

.button_reservation_partiel_dispo:hover {
  font-size: 22px;
}

.round_picture {
  transition: all 0.5s ease;
  opacity: 1;
}

.round_picture:hover {
  opacity: 0.8;
}

.under-text {
  transition: all 0.5s ease;
  visibility: hidden;
  margin-bottom: -10px;
}

.round_picture:hover~.under-text {
  visibility: visible;
  margin-bottom: 10px;
}

.prev_button {
  transition: all 0.5s ease;
  width: 100px;
  height: 500px;
  z-index: 999;
  opacity: 0;
  position: absolute;
}

.prev_button:hover {
  opacity: 0.3;
}

.next_button {
  transition: all 0.5s ease;
  width: 100px;
  height: 500px;
  z-index: 999;
  opacity: 0;
  position: relative;
}

.slider {
  margin-top: 10px;
}

.next_button:hover {
  opacity: 0.3;
}

@media screen and (min-width: 1361px) {
  .somaire_content {
    visibility: visible;
  }
}

@media screen and (max-width: 1360px) {
  .somaire_content {
    position: absolute;
    visibility: hidden;
  }
}

.v-align-middle {
  vertical-align: middle;
}

.mt-30 {
  margin-top: 30px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-50 {
  margin-left: 50px;
}

.ft-size-20 {
  font-size: 20px;
}

.ft-size-25 {
  font-size: 25px;
}

.galerie-img {
  width: 223px;
  height: 134px;
}