.section {
  position: relative;
}

.month {
  padding: 0;
  padding-inline-start: 0;
}

@media screen and (max-width: 940px) {
  .month {
    display: flex;
    justify-content: center;
  }
}

.week {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 5px;
  width: 250px;
  height: 150px;
  list-style: none;
  border: 1px solid black;
}

.date {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.available:hover {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}
.available p {
  color: green;
}

.notAvailable:hover {
  cursor: default;
}

.notAvailable p {
  color: red;
}

.disabled {
  filter: blur(10px);
  pointer-events: none;
}

.notYetBookable {
  position: absolute;
  font-size: 24px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}
