.nav {
  background: rgba(0, 0, 0, 0.5);
  height: 50px;
  color: white;
}

.flag {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0.5;
  padding: 8px;
}

.selected {
  opacity: 1;
}

.nav button {
  background: none;
  border: none;
}

.nav button:focus,
.flag:focus {
  outline: none;
}
