.booking .btn-more {
  color: rgb(185, 2, 17);
}

.booking .btn-more:hover {
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  background: rgb(185, 2, 17);
  color: white;
  font-weight: bold;
}

.booking .btn-more:focus {
  outline: none !important;
  box-shadow: none;
}

.booking div ul {
  width: 100%;
}

.booking div h2 {
  width: 100%;
  text-align: center;
}

.booking .week {
  display: inline-block;
  text-align: center;
  padding: 5px;
  width: 250px;
  height: 150px;
  list-style: none;
  border: 1px solid black;
}

.booking .week .date {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.booking .week .price {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 25px;
}

.booking .week.available:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.booking .week.available .price {
  color: green;
}

.booking .week.not-available .price {
  color: red;
}

.booking .week.not-available:hover {
  cursor: default;
}
