.carouselContainer {
  position: relative;
  height: 60vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  /* The aspect-ratio and max-height */
  max-height: 60vh;
  max-width: 100%;
  aspect-ratio: 2.5/1.7;
}

.carousel {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: grab;
}

.carouselImage {
  object-fit: cover;
  touch-action: pan-y;
}

.carouselImageWrapper {
  position: relative;
  height: 60vh;
  max-height: 60vh;
  max-width: 100%;
  aspect-ratio: 2.5/1.7;
}

.carouselImage:active {
  cursor: grabbing;
}

.carouselNav {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 10px;
  gap: 5px;
}

.carouselNavPill {
  opacity: 0.4;
  background-color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  z-index: 2;
}

.pillSelected {
  opacity: 1;
}

.carouselNavBtn {
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.carouselNavBtn[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

.carouselNavBtnRight {
  right: 20px;
}

.carouselNavBtnLeft {
  left: 10px;
}
