.section {
  display: flex;
  flex-direction: column;
}

.galleryItem {
  position: relative;
  margin-top: 3px;
  padding: 2px;
}

.galleryItem:hover {
  cursor: pointer;
}

.galleryItem img {
  width: 100%;
}
.galleryItemSelected {
  opacity: 0.5;
}

.helper {
  text-align: center;
}


.carouselContainer {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  max-height: 750px;
  max-width: 1000px;
}

.carousel {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: grab;
}

.carouselImage { 
  max-width: 1000px;
  width: 100%;
  object-fit: cover;
}

.carouselImage:active {
  cursor: grabbing;
}

.carouselIcon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.carouselNav {
  display:flex;
  justify-content: center;
  width: 100%;
  position:absolute;
  left:0;
  bottom: 10px;
  gap: 5px;
}

.carouselNavPill {
  opacity: 0.4;
  background-color: white;
  border-radius: 50%;
  width:10px;
  height:10px;
}

.pillSelected {
  opacity: 1;
}

.carouselNavBtn {
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carouselNavBtn[data-disabled=true] {
  opacity: 0.4;
  cursor: not-allowed;
}

.carouselNavBtnRight {
  right: 20px;
}

.carouselNavBtnLeft {
  left: 10px;
}