.section {
  display: flex;
  flex-direction: column;
}

.galleryItem {
  position: relative;
  margin-top: 3px;
  padding: 2px;
}

.galleryItem:hover {
  cursor: pointer;
}

.galleryItem img {
  width: 100%;
}

.galleryItemSelected {
  border: 5px solid black;
}
.galleryItemSelected img {
  opacity: 0.6;
}

.helper {
  text-align: center;
}
