.nav {
  background: rgba(0, 0, 0, 0.3);
}

.nav .flag {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0.5;
  padding: 8px;
}

.nav .selected {
  opacity: 1;
}

.nav button {
  background: none;
  border: none;
}

.nav button:focus {
  outline: none;
}
