#gallery {
  padding-bottom: 90px;
  padding-top: 20px;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) {
  .gallery {
    height: 300px;
  }

  .gallery.row {
    padding-left: 2px;
    padding-right: 2px;
  }

  .gallery .horizontal-container {
    padding-left: 2px;
    padding-right: 2px;
  }

  .gallery .next,
  .gallery .prev {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    -webkit-text-stroke: 2px #000;
    border: none;
  }

  .gallery .next {
    right: 0;
  }

  .gallery .prev {
    left: 0;
  }
}

/* Classic devices */
@media (min-width: 768px) {
  .gallery {
    height: 800px;
  }
  .gallery .next,
  .gallery .prev {
    -webkit-box-shadow: 0px 0px 10px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px -8px rgba(0, 0, 0, 0.75);
    background-color: white;
    border: 1px solid black;
  }

  .gallery .horizontal-container.col-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .gallery .next {
    right: 15px;
  }

  .gallery .prev {
    left: 15px;
  }
}

.gallery {
  overflow-x: hidden;
}

.gallery img {
  object-fit: cover;
}

/* Common vertical/horizontal images */
.gallery .vertical-img,
.gallery .horizontal-img {
  position: relative;
  width: 100%;
}

.gallery .horizontal-img img,
.gallery .vertical-img img {
  height: 100%;
  width: 100%;
}

/* Horizontal images */

.gallery .horizontal-img:nth-child(odd) {
  margin-bottom: 5px;
}

.gallery .horizontal-img:nth-child(even) {
  margin-top: 5px;
}

.gallery .horizontal-img {
  height: calc(50% - 5px);
}

.gallery .horizontal-container {
  height: 100%;
}

/* Vertical images */

.gallery .vertical-img {
  height: 100%;
}

.gallery .vertical-img.col-5 {
  padding: 0;
}

.gallery .next i,
.gallery .prev i {
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 10px);
}

.gallery .next,
.gallery .prev {
  z-index: 2;
  width: 50px;
  height: 100px;
  position: absolute;
  top: calc(50% - 50px);
}

.gallery .page-container.hide-slide-left {
  -webkit-transition: all 0.75s ease-in;
  -moz-transition: all 0.75s ease-in;
  -o-transition: all 0.75s ease-in;
  transition: all 0.75s ease-in;
  transform: translateX(-100%);
  opacity: 0;
  position: absolute;
}

.gallery .page-container.hide-slide-right {
  -webkit-transition: all 0.75s ease-in;
  -moz-transition: all 0.75s ease-in;
  -o-transition: all 0.75s ease-in;
  transition: all 0.75s ease-in;
  transform: translateX(100%);
  opacity: 0;
  position: absolute;
}

.gallery .page-container.visible {
  -webkit-transition: opacity 0.75s ease;
  -moz-transition: opacity 0.75s ease-in;
  -o-transition: opacity 0.75s ease-in;
  transition: opacity 0.75s ease-in;
  opacity: 1;
}

.gallery .page-container {
  height: 100%;
}

.gallery .expand-button {
  position: absolute;
  background: none;
  border: none;
  left: 5px;
  top: 5px;
  color: black;
}

.gallery .expand-button i {
  color: white;
  -webkit-text-stroke: 1px #000;
}

.gallery .expand-button:focus {
  outline: none;
}
