.slideshow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1032;
  padding: 20px;
  height: 100%;
}

.slideshow .display-container {
  position: relative;
  max-height: 90%;
  height: 90%;
}

.slideshow .displayed-image {
  width: 100%;
  object-fit: cover;
  padding: 5px;
  height: 100%;
}

.slideshow .nav-button {
  position: absolute;
  width: 100px;
  height: 100%;
  z-index: 1033;
}

.slideshow .nav-button:nth-child(1) {
  left: 0;
}

.slideshow .nav-button:nth-child(2) {
  right: 0;
}

.darkener {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1031;
  background: rgba(0, 0, 0, 1);
}

.slideshow nav ul {
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 auto;
  /* width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content; */
  overflow-x: auto;
  margin: auto;
}

.slideshow nav ul li {
  float: left;
  list-style: none;
}

.slideshow nav ul li img {
  height: 90px;
}

.slideshow .close-slide-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
}
