.presentation-card-container {
  position: relative;
  height: auto;
  width: auto;
}

.presentation-card-container > div {
  padding: 0;
  position: relative;
  top: -100px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 44px -29px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 44px -29px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 44px -29px rgba(0, 0, 0, 0.75);
}

.presentation-card-container > div > img {
  object-fit: cover;
  padding: 5px 0 0 5px;
}

.presentation-card-container .presentation-card h3 {
  text-align: center;
  padding-top: 1em;
}
.presentation-card-container .presentation-card hr {
  width: 70%;
  margin-left: 15%;
  border-color: rgb(255, 81, 0);
}

.presentation-card-container .presentation-card p {
  text-align: justify;
  font-size: 20px;
}

.presentation-card-container .presentation-card .description-table li {
  text-align: center;
  word-wrap: nowrap;
  list-style-type: none;
}

.presentation-card-container
  .presentation-card
  .description-table
  li:nth-child(odd) {
  border-right: 1px solid black;
}

.presentation-card-container .presentation-card .description-table span {
  font-size: 20px;
}
